


<div class="example-container mat-elevation-z8">

  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = $event">
  </mat-paginator>

  <mat-table #table [dataSource]="dataSource" matSort>



    <ng-container matColumnDef="giphyUrl">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let expense"> <img mat-card-image src="{{expense.giphyUrl}}" alt="Giffy!!!" height="42" width="42"></mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let expense"> {{expense.name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="betrag">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Betrag </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.betrag}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="ort">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ort </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ort}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/expense-edit', row.id]" ></mat-row>



  </mat-table>
</div>
