<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>

  <button mat-button [matMenuTriggerFor]="menu">Accounts</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let account of accountList" [value]="account.id">
         {{account.name}}
       </button>
  </mat-menu>

  <a mat-list-item href="#">Link 1</a>
  <a mat-list-item href="#">Link 2</a>
  <a mat-list-item href="#">Link 3</a>
  <a mat-list-item href="#">Dashboard</a>
  <a mat-list-item href="#">Statistics</a>
  <a mat-list-item href="/calendar-overview">Calendar</a>
  <a mat-list-item href="/testing">Test API</a>
  <a mat-list-item href="/backend/info">Backend Info</a>
  <a mat-list-item href="/expense-list">Expenses List</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <span>Welcome to {{title}}!</span>
        <span class="toolbar-spacer"></span>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      <div class="right">
        <button mat-raised-button color="accent" *ngIf="isAuthenticated"
       [routerLink]="['/home']">Home
        </button>
        <button mat-raised-button color="accent" *ngIf="isAuthenticated"
                (click)="oktaAuth.logout()" [routerLink]="['/home']">Logout
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
