<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>

  <button mat-button [matMenuTriggerFor]="menu">Accounts</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let account of accountList" [value]="account.id">
         {{account.name}}
       </button>
  </mat-menu>

  <a mat-list-item routerLink="#">Link 1</a>
  <a mat-list-item routerLink="#">Link 2</a>
  <a mat-list-item routerLink="#">Link 3</a>
  <a mat-list-item routerLink="#">Dashboard</a>
  <a mat-list-item routerLink="/account/list">Accounts List</a>
  <a mat-list-item routerLink="/calendar-overview">Calendar</a>
  <a mat-list-item routerLink="/testing">Test API</a>
  <a mat-list-item routerLink="/backend/info">Backend Info</a>
  <button mat-button  matBadge="{{unexpensedSize}}" routerLink="/expense-list">Expenses List</button>


    </mat-nav-list>
  </mat-sidenav>

    <mat-toolbar color="primary">
        <span class="toolbar-spacer"></span>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
            <span>Welcome to {{title}}!</span>
 <span class="fill-space"></span>

        <button mat-raised-button color="accent"  [routerLink]="['/home']">Home
        </button>
        <button mat-raised-button color="accent" (click)="logout()" [routerLink]="['/home']">Logout
        </button>

         <mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>



</mat-sidenav-container>
