<div >

<mat-card>
  <form #projectForm="ngForm" (ngSubmit)="save()">
    <mat-card-header>
      <mat-card-title><h2>{{project.name ? 'Edit' : 'Add'}} Project</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
      <mat-form-field>
        <input matInput placeholder="Project Name" [(ngModel)]="project.name"
               required name="name" #name>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Project Datum"  [(ngModel)]="project.createDate" name="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
      <input matInput type="number" placeholder="Project Rate" [(ngModel)]="project.rate"
             required name="Rate" #name>
    </mat-form-field>
    </p>
    <p>
<mat-form-field>
      <mat-label>activ?</mat-label>
    <mat-select value="true" (selectionChange)="switchAktiv()" [(value)]="project.active">
      <mat-option value="true">Aktiv</mat-option>
      <mat-option value="false">Nicht Aktiv</mat-option>
    </mat-select>
    </mat-form-field>
</p>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!projectForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(project.id)"
              *ngIf="project.id" type="button">Delete</button>
      <a mat-button routerLink="/expense-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>
      This is footer
    </mat-card-footer>
  </form>
</mat-card>

</div>
