 <div class="streched">

<mat-list class="streched">
 <mat-list-item> Current Balance (all accounts) : 3000  <button  mat-button color="primary">Overview</button></mat-list-item>

 <div class="canvas">
   <div>
     <div>
     <canvas baseChart
                 [datasets]="lineChartData"
                 [labels]="lineChartLabels"
                 [options]="lineChartOptions"
                 [colors]="lineChartColors"
                 [legend]="lineChartLegend"
                 [chartType]="lineChartType"
                 (chartHover)="chartHovered($event)"
                 (chartClick)="chartClicked($event)"></canvas>
     </div>
   </div>
    <div class="streched">
  <!--   <div class="col-md-6" style="margin-bottom: 10px">-->
     <table >
       <tr>
         <th *ngFor="let label of lineChartLabels">{{label}}</th>
       </tr>
       <tr *ngFor="let d of lineChartData">
         <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
       </tr>
     </table>
  <!--   <button (click)="randomize()">CLICK</button> -->
   </div>
 </div>

 <mat-list-item> Expected Balance after this month (Privat): 4000  </mat-list-item>
  <mat-list-item> Expected Balance after this month (Business): 4000  </mat-list-item>
  <mat-list-item> Not expensed expenses : 1000EUR <button  mat-button color="primary">3 expenses</button></mat-list-item>
 <mat-list-item> Expected balance in 3 Months (Privat): 9000 </mat-list-item>
  <mat-list-item> Expected balance in 3 Months (Business): 28000 </mat-list-item>
</mat-list>

 </div>
