@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-indigo);
$accentPalette:  mat-palette($mat-pink, A200, A100, A400);

$warnPalette:    mat-palette($mat-red);


.streched {
width: 100%;
height: 100%;
padding: 4px;
vertical-align: middle;
  text-align: center;
}


.content {
  display: block;
  width: 100%;
  height: 100%;
  top: 5px;
  padding: 5px;
}
