@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-indigo);
$accentPalette:  mat-palette($mat-pink, A200, A100, A400);

$warnPalette:    mat-palette($mat-red);


.my-primary-text {
    color: mat-color($primaryPalette);
}

.my-accent-text {
    color: mat-color($accentPalette);
    vertical-align: middle;
      text-align: center;
}

.centered {
  text-align: center;
}

.table-spanned {
  colspan: 5px;
  rowspan: 5px;
  padding: 10px;
  vertical-align: middle;
}
