<mat-card>


  <mat-card-header class="centered">
    <mat-card-title >Expenses Overview</mat-card-title>
    <mat-card-subtitle>For current Month</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content >
<mat-grid-list cols="3" rowHeight="3:1">
 <mat-grid-tile  [colspan]="2"
      [rowspan]="2">
    <div class="full-page">
      <div>
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    <!--  <button (click)="randomize()">Update</button> -->
    </div>
</mat-grid-tile>
  <mat-grid-tile  [colspan]="1"
       [rowspan]="2" class="table-spanned">
  <table >
  <tr>
    <tr>
      <th>Is active:{{overview.active}} </th>
      <th>Total of expenses: {{overview.total}}</th>
      <th>Expensed Count:{{overview.countExpenses}} </th>
      <th>Account Name: {{overview.refAccount.name}} </th>
    </tr>
    <tr>
        <th></th>
      <th class="my-accent-text">breakdown by category </th>
      <th></th>
    </tr>

    <tr>
      <th> Fahrkosten: 300 (10 items) </th>
      <th> Sonstige: 100 (10 items)</th>
      <th> private: 500 (2 items) </th>
      <th> Essen: 200 (10 items) </th>
    </tr>
      </table>
</mat-grid-tile>
</mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Details..</button>
    <button mat-button>Reports...</button>
  </mat-card-actions>
</mat-card>
